:root {
  --pale-pink: #FFF4FE;
  --pale-purple: #DEB4C9;
  --black: #111111;
  --white: #ffffff;
  --green: #06cd73;
  --editor-height: 200px;
  --dark-purple: #8a2be2;
  --magenta: #C33167;
  --medium-blue: #4048a2;
  --dark-plum: #1f191d;
  --light-gray: #d0d0d0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  background-color: var(--black);
  overflow: hidden;
  height: 100%;
}

.archivo {
  font-family: 'Archivo Black', sans-serif;
  font-style: italic;
}

a, a:visited {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--magenta);
  font-weight: bold;
  text-decoration: none;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.08rem;
}

p {
  line-height: 0.9rem;
  margin-bottom: 1rem;
}

.track-info p {
  margin-bottom: 0.4rem;
  line-height: 1rem;
}

h4 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 0.04rem;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.no-show {
  opacity: 0;
}

.border-bottom {
  border-bottom: 1px solid var(--light-gray);
}

.opacity-5 {
  opacity: 0.5;
}

.off-screen-right {
  right: -375px;
}

.wrapper {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 320px 1fr;
  overflow: hidden;
  height: 100vh;
}

.topbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 9999;
  font-size: 22px;
  color: rgba(255,255,255,0.8);
  opacity: 0.15;
  transition: all .2s;
}

.topbar:hover {
  opacity: 1;
}

.static {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  z-index: -1;
}
.gif-container {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  z-index: 39;
  overflow-y: hidden;
  z-index: 0;
  display: grid;
}

.popup-grid-wrapper {
  padding: 10px;
  grid-column: 1;
  grid-row: 2;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
  align-items: center;
}

.video-player-controls {
  z-index: 99999;
  grid-column: 1;
  grid-row: 2;
  height: 40px;
  align-self: flex-end;
  padding: 0 15px;
  font-size: 20px;
}

.video-player-controls li:not(:first-child) {
  margin-left: 30px;
}

.video-player-controls li {
  opacity: 0.7;
}

#video-background {
  align-self: center;
}

.video-popup {
  align-self: center;
  width: 100%;
  border-radius: 2px;
}

.ui-container {
  z-index: 40;
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 0;
  min-width: 0;
  background-color: var(--dark-plum);
}

#loginView {
  z-index: 40;
  grid-column-start: 1;
  grid-column-end: span 6;
  grid-row-start: 1;
  grid-row-end: span 6;
  box-shadow: none;
  display: block;
  background-color: transparent;
  align-self: center;
}

.ui-header {
    background-color: #000;
    width: 100%;
    margin-top: -15px;
    padding: 10px;
    text-align: center;
}

.mobile-nav {
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 0 !important;
  box-shadow: 0 -3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
  position: fixed;
  bottom: 0;
  z-index: 999999;
  height: 60px;
}

.mobile-nav li {
  font-size: 12px;
}

.mobile-nav i {
  display: block;
  margin-top: 15px;
  font-size: 28px;
}

.carousel {
  padding-top: 15px;
  grid-column: 1;
  grid-row: 1;
  overflow-y: scroll;
  min-height: 0;
}

.carousel-item {
  margin-bottom: 60px;
}

.ui-carousel {

}

.ui-carousel .list-inline-item:not(:last-child) {
    margin-right: 70px;
}

.ui-carousel li {
  opacity: 0.4;
  cursor: pointer;
}

.ui-carousel li:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.shadow-1 {
  box-shadow: none;
}

.shadow-5 {
  box-shadow: none;
}

.fullscreen {
  grid-row-start: 1;
  grid-row-end: span 3;
}

.rotate-90 {
  transform-origin: center;
  transform: rotate(90deg);
}

.moods-list {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}


.mood-card {
  height: 100%;
  width: 120px;
  transition: all .12s ease-in-out;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
  cursor: pointer;
  position: relative;
}

.mood-art {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 2px;
}

.mood-title {
  font-size: 12px;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  color: #fff;
  border-radius: 0 0 2px 2px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  background-image:
    linear-gradient(
      to bottom, 
      rgba(0,0,0,0), rgba(0,0,0,0.5) 90%
    );
  width: 100%;
  /*text-shadow:
  0px 0px 1px rgba(0,0,0,0.7),
  0px 0px 2px rgba(0,0,0,0.5);*/
}

.placeholder-bg-01 {
  background-image: url(../images/02.png);
}

.placeholder-bg-02 {
  background-image: url(../images/03.png);
}

.btn {
  border-radius: 4px;
  border: none;
  font-family: 'Archivo Black', sans-serif;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  background-color: var(--black);
  color: var(--pale-pink);
  font-size: 30px;
  font-style: italic;
  letter-spacing: 0.04rem;
}

.btn-create {
  width: 100%;
  min-height: 100px;
  line-height: 1rem;
  font-size: 18px;
  transition: all .12s ease-in-out;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
}

.btn-create:hover {
  margin-top: -30px;
  box-shadow: 0 25px 22px 0 rgba(0,0,0,0.22), 0 29px 48px 0 rgba(0,0,0,0.30);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: var(--black);
  color: var(--green);
}

.mood-loaded-overlay {
  grid-row: 2;
  grid-column: 1;
  z-index: 99999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}

.mood-loaded-info > * {
  margin-bottom: 10px;
}

.mood-loaded-play > * {
  float: right;
  font-size: 50px;
}

.mood-loaded-info > .title {
  background-color: #fff;
  color: black;
  padding: 2px 5px;
  font-family: 'archivo black';
  border-radius: 2px;
  display: table;
}

.mood-loaded-info > .info {
  background-color: #fff;
  color: black;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 2px;
  display: table;
}

.mood-loaded-info > .placeholder {
  background-color: #fff;
  height: 24px;
  width: 90px;
}

.placeholder {
  animation: pulse 1s infinite;
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.mood-loaded-info {
  grid-row: 1;
  grid-column: 1;
}

.mood-loaded-play {
  grid-row: 2;
  grid-column: 1;
  align-self: flex-end;
}

.btn-mobile-play-mood {
  z-index: 99999;
  cursor: pointer;
}

.btn-mobile-search {
  position: absolute;
  left: 15px;
  top: 13px;
  z-index: 99999;
}

#user-info {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 99999;
  font-size: 12px;
}

#user-info .user-photo {
  cursor: pointer;
}


.btn-mobile-search-clear {
  position: absolute;
  left: 15px;
  top: 13px;
  z-index: 99999;
}

.btn-mobile-search-back {
  position: absolute;
  left: 15px;
  top: 13px;
  z-index: 99999;
}

.search-primary {
  font-family: 'Archivo Black', sans-serif;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-style: italic;
  background-color: transparent;
  color: var(--white);
  letter-spacing: 0.08rem;
  height: 60px;
  padding-left: 45px;
}

.search-primary::placeholder {
  color: var(--pale-purple);
}

.search-primary:focus {
  background-color: var(--black);
  color: var(--pale-pink);
  border: none;
  box-shadow: none;
}

.search-primary-btn {
    margin-left: 20px !important;
    margin-top: 0;
    border-radius: 4px !important;
    padding: 0 25px;
}

.search-secondary {
    font-family: 'Archivo Black', sans-serif;
    border-radius: 4px !important;
    border: none;
    font-size: 14px;
    background-color: var(--dark-purple);
    color: var(--pale-pink);
    padding: 16px 20px;
}

.search-secondary::placeholder {
  color: var(--pale-purple);
}

.search-secondary:focus {
  background-color: var(--dark-purple);
  color: var(--pale-pink);
  border: none;
  box-shadow: none;
}

.search-secondary-btn {
    margin-left: 10px !important;
    margin-top: 0;
    border-radius: 4px !important;
    padding: 16px 20px;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -99;
  background-color: rgba(34,34,34, 0.6);
}

.overlay-active {
  z-index: 49 !important;
}

#settings-bar > ul > li {
  background-color: transparent;
}

.sidebar-open {
  right: 0px !important;
}

.dropdown-toggle::after {
  display: none;
}

.warning-text {
  bottom: 0px;
  position: absolute;
  text-align: center;
  padding: 0px 20%;
  font-size: .8rem;
}

.btn-secondary {
  background-color: var(--dark-purple);
  color: var(--white);
  cursor: pointer;
  height: 53px;
}

.btn-secondary:hover {
  background-color: var(--magenta);
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: var(--magenta);
    border-color: transparent;
    box-shadow: none;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none;
}

.btn-editor {
    background-color: var(--pale-purple);
    color: var(--black);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.04rem;
    border-radius: 2px;
    margin-top: -2px;
    transition: all 0.12s ease-in-out;
}

.btn-editor:hover {
  background-color: var(--magenta);
  margin-top: -2px;
}

.editor-timeline {
  height: 60px;
  background-color: var(--dark-purple);
  border-radius: 2px;
}

.btn-timeline {
  position: absolute;
  margin-top: 17px;
  z-index: 99;
}

.btn-timeline:hover {
  position: absolute;
  margin-top: 17px;
  z-index: 99;
}

.giphy-badge {
  opacity: 0.2;
  width: 60px;
}

#editor {
  height: 200px;
  background-color: var(--black);
  width: 100%;
  position: absolute;
  bottom: -200px;
  z-index: 50;
  padding: 30px 10px;
}

#editor .col-sm {
  padding-left: 45px;
  padding-right: 45px;
}

.editor-open {
  bottom: 0px !important;
}

.soundcloud-player {
  grid-column-start: 1;
  grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 6;
  background-color: transparent;
  z-index: -999;
  position: absolute;
  opacity: 0.0;
}

.img-circle {
  border-radius: 100%;
}

#track-attribution {
  padding-top: 20px;
}

.hidden {
  display: none;
}

.noUi-handle {
    position: relative;
}

.noUi-inner {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -40px;
    height: 100%;
    text-align: center;
    font: 400 11px/40px Arial;
}
.noUi-active:after {
    display: none;
}

#trackScrubber {
  position: relative;
}

#scrubberButtonContainer {
  text-align: center;
  color: #0c0c0c;
  position: absolute;
  cursor: pointer;
  top: 18px;
  margin-left: -15px;
  z-index: 999;
}

.input-small {
    border: none;
    border-radius: 2px;
    padding: 0 10px;
    width: 160px;
    font-size: 14px;
    position: absolute;
    height: 30px;
    top: -3px;
}

.input-close {
    position: absolute;
    left: 138px;
    top: 1px;
    color: var(--black);
}

.search-pip {
  font-size: 12px;
  transform-origin: left;
  transform: rotate(90deg);
  margin-top: -79px;
  text-align: center;
  cursor: ew-resize;
  background-color: #fff;
  padding: 0px 5px;
  border-radius: 0 2px 2px 0;
  width: 72px;
  z-index: 9999;
  border-right: 12px solid #adadad;
  color: #222;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert {
    padding: 4px 8px;
    font-size: 14px;
    background-color: #444;
    border: none;
    color: var( --white);
}

.alert-dismissible .close {
  padding: 3px 8px;
}

.noUi-marker {
  background: #000;
}

.noUi-pips-horizontal {
  height: 0px;
  z-index: 9;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 62px;
  height: 62px;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.settings-row {
  padding: 6px 0 22px;
  border-bottom: 1px solid #111;
}

.settings-row p {
  margin-bottom: 0px;
  font-size: 12px;
}

input[type=range] {
  -webkit-appearance: none;
    border: none;
    background-color: var(--pale-purple);
}

#gpmRangeEditor, #gpmRangeSettings {
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        width: 100%;
        height: 10px;
}

input[type='range']::-webkit-slider-thumb {
  background-color: var(--dark-purple);
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 12px;
  background: var(-dark-purple);
  cursor: pointer;

}

.switch-group {
  width: 100%;
}

.switch-group .switch-item {
  width: 50%;
  margin-right: -3px !important;
  opacity: 0.5;
}

.switch-item .switch-1 {
  border-radius: 6px 0 0 6px;
  width: 100%;
}

.switch-item .switch-2 {
  border-radius: 0 6px 6px 0;
  width: 100%;
}

.coming-soon {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    border-radius: 6px;
}

.punch-bg {
  z-index: 30;
}

.staff-sounds-list {
  margin-bottom: 60px;
}

.staff-sounds-list li {
  background-color: transparent;
  padding: 12px 0;
  cursor: pointer;
  border-top: 1px solid #000;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
}

.staff-sounds-list p {
  margin-bottom: 0;
  max-width: 220px;
}

.staff-sounds-list li:hover {
  background-color: var(--dark-purple);
  color: rgba(255,255,255,1);
}

.staff-sounds-list img {
  height: 40px;
    margin-right: 10px;
    margin-left: 8px;
    margin-top: -3px;
    border-radius: 0 !important;
}

i.sc-link {
  font-size: 12px;
}

i.sc-link:hover {
  color: var(--magenta);
}

.staff-sounds-list a:active, .staff-sounds-list a:visited, .staff-sounds-list a:hover {
  color: var(--pale-pink);
}

.staff-sound-now-playing {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 50px;
    top: 55px;
}

.music-addon {
  background-color: var(--black);
  border: none;
  color: var(--pale-pink);
}

.play-indicator {
  font-size: 12px;
  text-transform: uppercase;
  float: right;
  margin-top: -25px;
  margin-right: 10px;
}

.user-photo {
  width: 33px;
  border: 2px solid var(--pale-pink);
  border-radius: 50%;
}

.user-mood-thumb {
    margin-bottom: 20px;
}

.user-mood-thumb img {
  border-radius: 2px;
  margin-bottom: 10px;
  width: 150px;
}

.user-mood-thumb .dropdown {
  position: absolute;
  bottom: 18px;
  right: 10px;
  cursor: pointer;
  visibility: hidden;
}

.btn-new-mood {
    padding: 2px 4px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--pale-pink);
    color: var(--black);
    margin-left: 5px;
    display: none;
}

.btn-new-mood:hover {
  background-color: var(--magenta);
  color: var(--white);
}

.dropdown-menu {
  padding: .5rem .5rem;
}

.dropdown-menu li {
  padding: 6px;
}

.dropdown-menu a {
  font-size: 14px;
  color: var(--black);
}

.dropdown-menu a:hover {
  color: var(--magenta);
}

#user-moods-list li{
  margin-right: 10px;
  position: relative;
}

#user-moods-list p {
  max-width: inherit;
}

.gpm-input-container input {
  max-width: 70px;
}

.mood-title-input-container input {
  max-width: 140px;
}

.editable-input input {
    padding-right: 24px;
    background-color: var(--white);
    border-radius: 2px;
    border: none;
    padding: 2px 4px;
}

.beta-tag {
  background-color: var(--magenta);
  padding: 4px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  margin-left: 5px;
}

.user-moods-alert {
  background-color: var(--magenta);
  padding: 4px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  margin-left: 5px;
}

#autosave-container {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 20px;
}

.z-depth-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-depth-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.z-depth-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.z-depth-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.z-depth-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.modal-content {
  background-color: var(--black);
}

.close {
  color: var(--magenta);
}

.nav {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  letter-spacing: 0.05rem;
}

.nav-pills .nav-link {
  opacity: 0.6;
}

.nav-link:hover {
  color: white;
  opacity: 1;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  opacity: 1;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    overflow: hidden;
  }

  .toast {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    height: 40px;
    padding: 8px;
    border-radius: 2px;
    background-color: var(--magenta);
    color: var(--white);
    display: none;
  }

  .show-toast {
    display: block;
  }

  .ui-container {
    z-index: 40;
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 3;
    box-shadow: none;
    display: block;
    background-color: transparent;
  }

  .carousel {
    overflow: hidden;
  }

  .static {
    background-repeat: no-repeat
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 6;
    z-index: -1;
  }
  .gif-container {
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 6;
    z-index: 39;
    display: grid;
    grid-template-columns: 1fr);
    grid-template-rows: 1fr);
    overflow-y: hidden;
    z-index: 0;
  }

  #video-background {
      grid-column-start: 1;
      grid-row-start: 1;
      align-self: center;
      width: 100%;
  }

  .btn-create {
    min-height: 200px;
    line-height: 2.5rem;
    font-size: 40px;
  }

  .search-primary {
    font-family: 'Archivo Black', sans-serif;
    border: none;
    font-size: 16px;
    font-style: italic;
    background-color: transparent;
    color: var(--white);
    letter-spacing: 0.08rem;
    margin: 0;
  }

  .popup-grid-wrapper {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 6;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
    align-items: center;
  }

  .giphy-badge {
    width: 100px;
  }

  .settings-row {
    background-color: var(--black);
    border-radius: 6px;
    padding: 20px 10px;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    margin-bottom: 20px;
  }

  .settings-row p {
    margin-bottom: 0px;
    font-size: 14px;
  }

  .shadow-1 {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
  }

  .shadow-5 {
    box-shadow: 0 15px 12px 0 rgba(0,0,0,0.22), 0 19px 38px 0 rgba(0,0,0,0.30);
  }

  .moods-list {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .moods-list li {
    height: 200px;
    max-width: 200px;
    min-width: 200px;
    flex: 1 1 auto;
    margin-bottom: 15px;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 15px;
  }

  .mood-card {
    box-shadow: none;
  }

  .mood-card:hover {
    
  }

  .mood-info {
    padding: 15px;
    color: var(--white);
    background-color: rgba(222,180,201,0.9);
    height: 100%;
    border-radius: 4px;
    font-size: 14px;
  }

  .mood-title {
    
  }

  .mood-art {
    height: 200px;
  }

  .btn-mood-info {
    display: none;
  }

  .mood-info p {
    margin-bottom: 1rem;
  }

  .staff-sounds-list {
    margin-bottom: 0px;
  }

  .staff-sounds-list p {
    max-width: 500px;
  }

  .user-mood-thumb .dropdown {
    visibility: visible;
  }

  .btn-new-mood {
    display: inline;
  }
}